@inject IConfigurationSettingFactory ConfigurationSettingFactory
@inject IConfigurationSettingRepository ConfigurationSettingRepository
@page "/kvdata"
@using System.Security.Cryptography
@using System.Text
@using System.Text.Json
@using AzureAppConfigurationEmulator.Authentication.Hmac
@using AzureAppConfigurationEmulator.Common
@using AzureAppConfigurationEmulator.Common.Components
@using AzureAppConfigurationEmulator.ConfigurationSettings.Components
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web
@using OpenTelemetry.Trace

<PageTitle>Import/export</PageTitle>

<div class="flex flex-col">
    <AzureToolbar>
        <div class="h-[36px]"></div>
    </AzureToolbar>

    <div class="p-5">
        <EditForm class="flex flex-col gap-4 items-stretch pb-4" Model="@Model" OnSubmit="@HandleSubmit">
            <ImportExportOperationInputRadioGroup @bind-Value="@Model!.Operation" name="@nameof(Model.Operation)"/>

            @switch (Model.Operation)
            {
                case ImportExportOperationInputRadioGroup.Operation.Import:
                    <label class="flex flex-col gap-1">
                        <div>Source service</div>
                        <ImportExportSourceServiceInputSelect @bind-Value="@Model.SourceService" name="@nameof(Model.SourceService)"/>
                    </label>

                    switch (Model.SourceService)
                    {
                        case ImportExportSourceServiceInputSelect.SourceService.AzureAppConfiguration:
                            <label class="flex flex-col gap-1">
                                <div>Source connection string</div>
                                <AzureInputText name="@nameof(Model.SourceConnectionString)" Value="@Model.SourceConnectionString" ValueChanged="@HandleSourceConnectionStringChange" ValueExpression="@(() => Model.SourceConnectionString)"/>
                            </label>

                            if (!string.IsNullOrEmpty(Model.SourceConnectionString) && Labels is { Count: > 0 })
                            {
                                <label class="flex flex-col gap-1">
                                    <div>Key filter</div>
                                    <AzureInputText @bind-Value="@Model.KeyFilter" name="@nameof(Model.KeyFilter)" placeholder="abc | abc,xyz,..."/>
                                </label>

                                <label class="flex flex-col gap-1">
                                    <div>Prefix</div>
                                    <AzureInputText @bind-Value="@Model.Prefix" name="@nameof(Model.Prefix)"/>
                                </label>

                                <label class="flex flex-col gap-1">
                                    <div>At a specific time</div>
                                    <AzureInputDate @bind-Value="@Model.Moment" name="@nameof(Model.Moment)" Type="@InputDateType.DateTimeLocal"/>
                                </label>

                                <label class="flex flex-col gap-1">
                                    <div>From label</div>
                                    <ImportExportLabelFilterInputSelect @bind-Value="@Model.LabelFilter" Labels="@Labels" name="@nameof(Model.LabelFilter)"/>
                                </label>

                                <div>
                                    <AzureButton Appearance="AzureButton.AzureAppearance.Primary" type="submit">@(Model.Operation switch { ImportExportOperationInputRadioGroup.Operation.Export => "Export", ImportExportOperationInputRadioGroup.Operation.Import => "Import", _ => throw new ArgumentOutOfRangeException() })</AzureButton>
                                </div>
                            }

                            break;
                        case ImportExportSourceServiceInputSelect.SourceService.ConfigurationFile:
                            <label class="flex flex-col gap-1">
                                <div>File type</div>
                                <ImportExportFileTypeInputSelect @bind-Value="@Model.FileType" name="@nameof(Model.FileType)"/>
                            </label>

                            if (Model.FileType is not null)
                            {
                                <label class="flex flex-col gap-1">
                                    <div>Source file</div>
                                    <AzureInputFile accept="@Model.FileType" name="@nameof(Model.SourceFile)" OnChange="args => Model.SourceFile = args.File"/>
                                </label>
                            }

                            if (Model.SourceFile is not null)
                            {
                                <label class="flex flex-col gap-1">
                                    <div>Separator</div>
                                    <ImportExportSeparatorInputSelect @bind-Value="@Model.Separator" name="@nameof(Model.Separator)"/>
                                </label>

                                <label class="flex flex-col gap-1">
                                    <div>Prefix</div>
                                    <AzureInputText @bind-Value="@Model.Prefix" name="@nameof(Model.Prefix)"/>
                                </label>

                                <label class="flex flex-col gap-1">
                                    <div>Label</div>
                                    <AzureInputText @bind-Value="@Model.Label" name="@nameof(Model.Label)"/>
                                </label>

                                <label class="flex flex-col gap-1">
                                    <div>Content type</div>
                                    <ImportExportContentTypeInputSelect @bind-Value="@Model.ContentType" name="@nameof(Model.ContentType)"/>
                                </label>

                                <div>
                                    <AzureButton Appearance="AzureButton.AzureAppearance.Primary" type="submit">@(Model.Operation switch { ImportExportOperationInputRadioGroup.Operation.Export => "Export", ImportExportOperationInputRadioGroup.Operation.Import => "Import", _ => throw new ArgumentOutOfRangeException() })</AzureButton>
                                </div>
                            }

                            break;
                    }

                    break;
            }
        </EditForm>
    </div>
</div>

@code {
    [SupplyParameterFromForm] public InputModel? Model { get; set; }

    private ICollection<string?> Labels { get; } = [];

    protected override void OnInitialized()
    {
        Model ??= new InputModel();
    }

    private static IEnumerable<KeyValuePair<string, object?>> FlattenJsonElement(JsonElement element, string? prefix = null, string? separator = null)
    {
        switch (element.ValueKind)
        {
            case JsonValueKind.Object:
                foreach (var property in element.EnumerateObject())
                {
                    foreach (var pair in FlattenJsonElement(property.Value, !string.IsNullOrEmpty(prefix) ? $"{prefix}{separator}{property.Name}" : property.Name, separator))
                    {
                        yield return pair;
                    }
                }

                break;
            case JsonValueKind.Array:
                var index = 0;

                foreach (var inner in element.EnumerateArray())
                {
                    foreach (var pair in FlattenJsonElement(inner, !string.IsNullOrEmpty(prefix) ? $"{prefix}{separator}{index}" : index.ToString(), separator))
                    {
                        yield return pair;
                    }

                    index += 1;
                }

                break;
            case JsonValueKind.String:
                if (!string.IsNullOrEmpty(prefix))
                {
                    yield return new KeyValuePair<string, object?>(prefix, element.GetString());
                }

                break;
            case JsonValueKind.Number:
                if (!string.IsNullOrEmpty(prefix))
                {
                    yield return new KeyValuePair<string, object?>(prefix, element.GetDouble());
                }

                break;
            case JsonValueKind.True:
            case JsonValueKind.False:
                if (!string.IsNullOrEmpty(prefix))
                {
                    yield return new KeyValuePair<string, object?>(prefix, element.GetBoolean());
                }

                break;
            case JsonValueKind.Undefined:
            case JsonValueKind.Null:
                if (!string.IsNullOrEmpty(prefix))
                {
                    yield return new KeyValuePair<string, object?>(prefix, null);
                }

                break;
            default:
                throw new ArgumentOutOfRangeException();
        }
    }

    private async Task HandleSourceConnectionStringChange(string? connectionString)
    {
        using var activity = Telemetry.ActivitySource.StartActivity($"{nameof(ImportExport)}.{nameof(HandleSourceConnectionStringChange)}");

        if (Model is not null)
        {
            Model.SourceConnectionString = connectionString;
            StateHasChanged();

            Labels.Clear();
            StateHasChanged();

            if (!string.IsNullOrEmpty(connectionString))
            {
                try
                {
                    var dictionary = connectionString.Split(';').Select(s => s.Split('=', 2)).ToDictionary(s => s[0], s => s[1]);
                    var endpoint = dictionary["Endpoint"];
                    var credential = dictionary["Id"];
                    var secret = dictionary["Secret"];

                    using var httpMessageHandler = new HmacAuthenticatingHttpMessageHandler(credential, secret);
                    httpMessageHandler.InnerHandler = new HttpClientHandler();

                    using var httpClient = new HttpClient(httpMessageHandler);
                    httpClient.BaseAddress = new Uri(endpoint, UriKind.Absolute);

                    await foreach (var label in new ConfigurationClient(httpClient, ConfigurationSettingFactory).GetLabels())
                    {
                        Labels.Add(label);
                        StateHasChanged();
                    }
                }
                catch (Exception e)
                {
                    activity?.RecordException(e);
                }
            }
        }
    }

    private async Task HandleSubmit()
    {
        using var activity = Telemetry.ActivitySource.StartActivity($"{nameof(ImportExport)}.{nameof(HandleSubmit)}");

        switch (Model?.Operation)
        {
            case ImportExportOperationInputRadioGroup.Operation.Import:
            {
                switch (Model?.SourceService)
                {
                    case ImportExportSourceServiceInputSelect.SourceService.AzureAppConfiguration:
                    {
                        var dictionary = Model.SourceConnectionString!.Split(';').Select(s => s.Split('=', 2)).ToDictionary(s => s[0], s => s[1]);
                        var endpoint = dictionary["Endpoint"];
                        var credential = dictionary["Id"];
                        var secret = dictionary["Secret"];

                        using var httpMessageHandler = new HmacAuthenticatingHttpMessageHandler(credential, secret);
                        httpMessageHandler.InnerHandler = new HttpClientHandler();

                        using var httpClient = new HttpClient(httpMessageHandler);
                        httpClient.BaseAddress = new Uri(endpoint, UriKind.Absolute);

                        await foreach (var sourceSetting in new ConfigurationClient(httpClient, ConfigurationSettingFactory).GetConfigurationSettings(Model.KeyFilter ?? KeyFilter.Any, LabelFilter.Any, Model.Moment))
                        {
                            if (!Model.LabelFilter.Contains(sourceSetting.Label))
                            {
                                continue;
                            }

                            if (await ConfigurationSettingRepository.Get(sourceSetting.Key, sourceSetting.Label ?? LabelFilter.Null).SingleOrDefaultAsync() is { } destinationSetting)
                            {
                                var date = DateTimeOffset.UtcNow;

                                destinationSetting.Etag = Convert.ToBase64String(SHA256.HashData(Encoding.UTF8.GetBytes(date.UtcDateTime.ToString("yyyy-MM-dd HH:mm:ss"))));
                                destinationSetting.LastModified = date;
                                destinationSetting.ContentType = sourceSetting.ContentType;
                                destinationSetting.Value = sourceSetting.Value;
                                destinationSetting.Tags = sourceSetting.Tags;

                                await ConfigurationSettingRepository.Update(destinationSetting);
                            }
                            else
                            {
                                destinationSetting = ConfigurationSettingFactory.Create(sourceSetting.Key, sourceSetting.Label, sourceSetting.ContentType, sourceSetting.Value, sourceSetting.Tags);

                                await ConfigurationSettingRepository.Add(destinationSetting);
                            }
                        }

                        Model = new InputModel();

                        break;
                    }
                    case ImportExportSourceServiceInputSelect.SourceService.ConfigurationFile:
                    {
                        await using var stream = Model.SourceFile!.OpenReadStream();

                        using var document = await JsonDocument.ParseAsync(stream);

                        foreach (var (sourceKey, sourceValue) in FlattenJsonElement(document.RootElement, Model.Prefix, Model.Separator))
                        {
                            if (await ConfigurationSettingRepository.Get(sourceKey, Model.Label ?? LabelFilter.Null).SingleOrDefaultAsync() is { } destinationSetting)
                            {
                                var date = DateTimeOffset.UtcNow;

                                destinationSetting.Etag = Convert.ToBase64String(SHA256.HashData(Encoding.UTF8.GetBytes(date.UtcDateTime.ToString("yyyy-MM-dd HH:mm:ss"))));
                                destinationSetting.LastModified = date;
                                destinationSetting.ContentType = Model.ContentType;
                                destinationSetting.Value = sourceValue?.ToString();

                                await ConfigurationSettingRepository.Update(destinationSetting);
                            }
                            else
                            {
                                destinationSetting = ConfigurationSettingFactory.Create(sourceKey, Model.Label, Model.ContentType, sourceValue?.ToString());

                                await ConfigurationSettingRepository.Add(destinationSetting);
                            }
                        }

                        Model = new InputModel();

                        break;
                    }
                }

                break;
            }
        }
    }

    public class InputModel
    {
        public string? ContentType { get; set; }

        public string? FileType { get; set; }

        public string? KeyFilter { get; set; }

        public string? Label { get; set; }

        public string?[] LabelFilter { get; set; } = [];

        public DateTimeOffset? Moment { get; set; }

        public string Operation { get; set; } = ImportExportOperationInputRadioGroup.Operation.Import;

        public string? Prefix { get; set; }

        public string? Separator { get; set; }

        public string? SourceConnectionString { get; set; }

        public IBrowserFile? SourceFile { get; set; }

        public string? SourceService { get; set; }
    }

}